.form-todo {
  max-width: 500px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-todo .form-todo-heading {
  margin-bottom: 10px;
  text-align: center;
}
.form-todo .checkbox {
	margin: 0;
}
.form-todo input[type="text"],
.form-todo input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}
			
#items {
	list-style-type: none;
	margin: 0;
}
			
#items li {
	padding: 10px 0;
	position: relative;
}

#items li.done {
  text-decoration: line-through;
}
			
.remove {
	position: absolute;
	right: 5px;
	top: 25%;
}

.actions {
  position: relative;
  overflow: auto;
  padding-bottom: 10px;
  display: none;
}

.remove-all {
  position: absolute;
  top: 0;
  right: 5px;
}

.remove-all.disabled, .remove-all.disabled:hover {
  color: #ccc;
}

#links {
  margin-top: 60px;
  text-align: center;
}